<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="EPSPackages" value="https://pkgs.dev.azure.com/eps-software/_packaging/EPSPackages/nuget/v3/index.json" />
        <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="EPSPackages">
            <package pattern="EPS" />
            <package pattern="Azure.Extensions.AspNetCore.Configuration.Secrets" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="xunit.runner.visualstudio" />
            <package pattern="ClosedXML.Report" />
            <package pattern="QuestPDF" />
            <package pattern="xunit" />
            <package pattern="Microsoft.Extensions.*" />
            <package pattern="Microsoft.EntityFrameworkCore.*" />
            <package pattern="System.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>